@import "../../../assets/styles/index.scss";


#clientReview {
    @include dp-grid(1fr 1fr 1fr, auto);
    gap: 20px;
    position: relative;

    #next, #prev {
        display: block;
        padding: 12px;
        position: absolute;
        top: 50%;
        background-color: $theme-color;
        border-radius: 50%;
        cursor: pointer;
    }
    
    #next {
        right: 0;
        transform: translate(50%, -50%);
    }

    #prev {
        left: 0;
        transform: translate(-50%, -50%);
    }
}