@import "../../assets/styles/index.scss";

#cartItem {
  text-align: center;

  th {
    padding: 0 20px;
  }

  td {
    border-bottom: 1px solid $typeProduct--color;

    .deleteProduct {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      color: $theme-color;
      background-color: red;

      &:active {
        background-color: rgb(207, 69, 69);
      }
    }

    #quantity {
      text-align: center;
      width: 30px;
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }
}
