@import "../../assets/styles/index.scss";

#header {
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  background-image: url(../../assets/images/Header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $theme-color;

  @media only screen and (max-width: 768px) {
    padding: 0 2%;
  }

  div {
    @include flex-col;
    align-items: center;
    transform: translateY(40%);
    @extend .txtCenter;

    @media only screen and (max-width: 1200px) {
      transform: translateY(50%);
    }

    @media only screen and (max-width: 768px) {
      transform: translateY(90%);
    }

    h1 {
      font-size: $h2-fontsize;
      margin: 0;

      @media only screen and (max-width: 1200px) {
        font-size: 60px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 40px;
      }
    }

    p {
      font-size: $h4-fontsize;
      padding: 0 25%;
      @extend .p-color;

      @media only screen and (max-width: 1200px) {
        font-size: $h5-fontsize;
      }

      @media only screen and (max-width: 768px) {
        padding: 0 5%;
      }
    }

    form {
      width: 25%;
      position: relative;

      input {
        width: 100%;
        @include input;
        @extend .p-color;

        &::-webkit-input-placeholder {
          color: $p-color;
        }
      }

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        @extend .radiusCycle;
        width: 30px;
        height: 30px;
        background-color: $light-color;
        color: $theme-color;
        border: none;
      }
    }
  }
}
