@import "../../assets/styles/index.scss";

footer {
  background-color: $theme-color2;
  @include dp-flex;
  padding: 50px 8%;
  gap: 40px;

  #page {
    @include flex-col;
    justify-content: space-between;
    width: 35%;
    padding-right: 100px;

    img {
      width: 100px;
    }
  }

  .footer__inf {
    width: 65%;
    @include dp-flex;
    justify-content: space-between;
    padding: 0 30px;

    h4 {
      color: $light-color;
    }

    i {
      font-size: $p-fontsize12;
      display: inline-block;
      width: 25px;
    }
  }
}
