@import "../../../assets/styles/index.scss";

#infoUs {
    padding: 80px 5%;
    @include dp-grid(1fr 1fr 1fr 1fr, auto);
    gap: 20px;

    @media only screen and (max-width: 1195px) {
        padding: 80px 2%;
    }

    @media only screen and (max-width: 768px) {
        @include dp-grid(1fr, auto);
    }

    #title {
        h2 {
            font-size: $h3-fontsize;
            margin: 0;
            padding-right: 50px;
        }
    }
}

.infoUsItems {
    h3 {
        font-size: $h4-fontsize;
    }

    p {
        font-size: $p-fontsize16;
        color: $p-color2;
    }

    button {
        @include button;
        padding: 0;
    }
}