@import "../../../assets/styles/index.scss";

#infoUs {
    padding: 80px 5%;
    @include dp-grid(1fr 1fr 1fr 1fr, auto);
    gap: 20px;

    #title {
        h2 {
            font-size: $h3-fontsize;
            margin: 0;
            padding-right: 50px;
        }
    }
}